.soal14 {
  background-color: antiquewhite;
  padding-bottom: 2px;
}

.soal15 {
  background-color: yellowgreen;
  padding-bottom: 2px;
}

.soal16 {
  background-color: burlywood;
  padding-bottom: 2px;
}

.soal17 {
  background-color: orange;
  padding-bottom: 2px;
}

.soal18 {
  background-color: salmon;
  padding-bottom: 2px;
}

.soal19 {
  background-color: gray;
  padding-bottom: 2px;
}

.soal20 {
  background-color: goldenrod;
  padding-bottom: 2px;
}

.soal21 {
  background-color: skyblue;
  padding-bottom: 2px;
}

.soal22 {
  background-color: gray;
  padding-bottom: 2px;
}

.soal24 {
  background-color: hotpink;
  padding-bottom: 2px;
}

.bgP {
  font-weight: bold;
  font-size: large;
}